* {
  color: #f4eee0;
}

html {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #001c30;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto;
}

.has-image-background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Add this line */
  background-image: url("../public/pexels-pixabay-33688.jpg") !important;
}

h1,
h2,
h4,
h5,
h6,
p {
  margin: 0;
  color: #f4eee0;
}

input {
  color: black !important;
}

textarea {
  color: black !important;
}

.fs-1 {
  font-family: "VCR OSD Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 64px !important;
  color: #D0A2F7;
}

footer > * {
  color: white;
  font-family: "Roboto Mono";
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 20px; /* Add margin to the bottom */
}


nav a {
  color: white;
  margin-right: 0.5rem;
}

a {
  text-decoration: none !important;
}

/* navbar */
.nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-nav {
  margin-right: 10px; /* Adjust as necessary */
}

.navbar-brand {
  font-family: "VCR OSD Mono";
  text-transform: uppercase;
  color: #D0A2F7 !important;
  font-size: 40px;
}

.navbar-brand > a {
  text-decoration: none;
}

a {
  color: #D0A2F7 !important;
  text-decoration: none;
  font-family: "Roboto Mono";
}

.btn-link {
  text-decoration: none;
  font-family: "Roboto Mono" !important;
}

.btn-nav {
  font-size: 20px;
}

.box {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 3px solid #D0A2F7;
}

.box-stats {
  border: 3px solid #D0A2F7;
  background-color: #D0A2F740;
  -webkit-box-shadow: 0 0 10px 1.5px #D0A2F7;
          box-shadow: 0 0 10px 1.5px #D0A2F7;
}

.box-no-border {
  margin-top: 0.75rem;
  padding: 1.5rem;
}

/* signup.php */
.signup-header {
  padding: 1rem;
  background-image: url("../public/pexels-francesco-ungaro-998641\ \(1\).jpg");
  background-position: center;
}

.header-text {
  font-size: clamp(128px, 10vw - 10px, 40px);
  text-transform: uppercase;
  background-color: unset;
  font-family: "VCR OSD Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 900px) {
  .header-text {
    font-size: 64px;
  }
  .signup-header {
    max-width: 100%;
  }
}




/* form controls */
.form-control {
  background-color: unset !important;
  border: 3px solid #D0A2F7;
  color: white !important;
}

.form-control::-webkit-input-placeholder {
  color: #D0A2F7;
}

.form-control::-moz-placeholder {
  color: #D0A2F7;
}

.form-control:-ms-input-placeholder {
  color: #D0A2F7;
}

.form-control::-ms-input-placeholder {
  color: #D0A2F7;
}

.form-control::placeholder {
  color: #D0A2F7;
}

.f-c-s {
  font-family: "VCR OSD Mono";
  text-align: end;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 10px 1.5px #D0A2F7;
          box-shadow: 0 0 10px 1.5px #D0A2F7;
  border: 3px solid #D0A2F7;
}

.switcher {
  font-family: "VCR OSD Mono";
  text-transform: uppercase;
}

.switcher h2 {
  font-size: 64px;
}

.switcher h3 {
  font-size: 32px;
}

.btn-dark > p {
  text-transform: uppercase;
}

/* Add custom CSS class for main account content */
.main-account-content {
  padding: 0 15px; /* Adjust the left and right padding as needed */
}

.stat-t {
  text-transform: uppercase;
  font-family: "VCR OSD Mono";
  color: #362FD9;
  margin: 0;
}

.stat-v {
  margin: 0;
  font-family: "VCR OSD Mono";
  color: #DA0C81;
  font-size: 24px;
}

.accord-button {
  /* buttons for accordions on sections */
  font-family: "VCR OSD Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
}


.accord-button:hover {
  color: white;
  text-decoration: none !important;
  -webkit-transition: .75s ease;
  -o-transition: .75s ease;
  transition: .75s ease;
}

.stats-page-title {
  font-size: 64px;
  color:#D0A2F7;
}

.stat-title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.stat {
  text-align: center;
  margin-top: 0.5rem;
  font-family: "Minecraftia", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
}

.content {
  padding-top: 20px; /* Add padding to the top to create space for the navbar */
  max-width: 900px;
  margin: 0 auto;
}


/* Limit the max height of the image container to 300px */
.embed-responsive-16by9 {
  max-height: 300px;
}

/* Style the image to maintain its aspect ratio */
.embed-responsive-item {
  width: 100%;
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover; /* This ensures the image covers the entire container while maintaining its aspect ratio */
}


/* article post content */
.article-post {
  border: 3px solid #D0A2F7;
  padding: 1rem;
}
.flexbox {
  display: flex;
}
