* {
  color: #f4eee0;
}

html {
  margin: 0 auto;
  padding: 0;
  width: 900px;
}

body {
  background-color: #001c30;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 auto; /* Add this line to remove the default margin */
}

h1,
h2,
h4,
h5,
h6,
p {
  margin: 0;
  color: #f4eee0;
}

footer > * {
  color: white;
  font-family: "Roboto Mono";
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1rem; /* itll be a problem when itll be a problem */
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.box {
  margin-top: 1rem;
  padding: 1.5rem;
  border: 3px solid #362FD9;
  border-radius: 10px;
  box-shadow: 0 0 10px 1.5px #362FD9;
}

.box-no-border {
  margin-top: 0.75rem;
  padding: 1.5rem;
}

/* signup.php */
.signup-header {
  padding: 1rem;
  background-image: url("../public/pexels-francesco-ungaro-998641\ \(1\).jpg");
  background-position: center;
}
.header-text {
  font-size: clamp(128px, 10vw - 10px, 40px);
  text-transform: uppercase;
  background-color: unset;
  font-family: "VCR OSD Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 900px) {
  .header-text {
    font-size: 64px;
  }
  .signup-header {
    max-width: 100%;
  }
}

/* form controls */
.form-control {
  background-color: unset !important;
  border: 3px solid #362FD9;
  color: white !important;
}
.form-control:focus {
  box-shadow: 0 0 10px 1.5px #362FD9;
  border: 3px solid #362FD9;
}

/* Customize the modal's background */
.modal-content {
    background-color: #333; /* Change this to your preferred dark color */
}

.switcher {
  font-family: "VCR OSD Mono";
  text-transform: uppercase;
}

.switcher h2 {
  font-size: 64px;
}

.switcher h3 {
  font-size: 32px;
}

.btn-dark > p{
  text-transform: uppercase;
}
/* Add custom CSS class for main account content */
.main-account-content {
  padding: 0 15px; /* Adjust the left and right padding as needed */
}

.stat-t {
  text-transform: uppercase;
  font-family: "VCR OSD Mono";
  color: #362FD9;
  margin: 0;
}

.stat-v {
  margin: 0;
  font-family: "VCR OSD Mono";
  color: #DA0C81;
  font-size: 24px;
}

.accord-button {
  /* buttons for accordions on sections */
}