h1,
h2,
h4,
h5,
h6,
p {
  margin: 0;
  color: #f4eee0;
}

h3 {
  font-size: 1.5rem;
}

footer > * {
  font-family: "Jetbrains Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.stats {
  margin-top: 2rem;
  color: #ff9b9b;
  font-family: "Quinquefive", system-ui;
}

.buttons {
  border: 3px solid #ff9b9b;
}

.custom-header {
  margin-top: 1rem;
  padding: 5rem;
  border: 3px solid #ff9b9b;
  background-image: url("../public/images/ivana-cajina-asuyh-_ZX54-unsplash.jpg");
  background-position: center;
  border-radius: 10px;
}

.custom-header > h2 {
  font-family: "VCR OSD Mono";
  font-size: 4rem;
  background-color: unset;
  color: #ff9b9b;
}

.App {
  width: 50vw;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .App {
    width: 100vw;
  }
}

@media screen and (max-width: 1300px) {
  .App {
    width: 100vw;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.input-pixel {
  max-height: 40px;
  background-color: unset;
  color: white;
}

.input-pixel:hover {
  background-color: unset;
}

.search-form input[type="text"] {
  flex: 1;
  border: 3px solid #ff9b9b;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.search-form button {
  margin-left: 10px;
  border: 3px solid #ff9b9b;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fc8181;
  color: #fff;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #fc8181;
  border: 5px solid white;
}

/* tables */
/* Add these styles to App.css */

/* Dark theme for tables */
.table-dark {
  color: #fff;
  background-color: #343a40;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #454d55;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-bordered th,
.table-dark.table-bordered td {
  border: 1px solid #454d55;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}
