@font-face {
  font-family: "VCR OSD Mono";
  src: url("../public/fonts/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
  font-family: "Quinquefive";
  src: url("../public/fonts/QuinqueFive.ttf");
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("../public/fonts/JetBrainsMono[wght].ttf");
}
