*,
* {
  background-color: #001c30;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001c30;
  color: #f4eee0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0; /* Add this line to remove the default margin */
}

.accordion-body-pixel {
  padding: 0 !important;
  color: #ff9b9b;
}

.accordion-body-text {
  padding: 1rem;
}

.link-pixel {
  color: white;
  text-decoration: none;
  font-family: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.link-pixel:hover {
  text-decoration: underline;
  color: white;
}
