*,
* {
  background-color: #393646;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #393646;
  color: #f4eee0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0; /* Add this line to remove the default margin */
}
